<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path, class: "logo" do %>
        BlogApp
      <% end %>
    </header>
    <nav class="main_nav">
      <%= link_to "Articles", root_path %>
    </nav>
    <footer>
      &copy; Ryan Pegg 2020
    </footer>
    <main>
      <%= yield %>
    </main>
    <section class="alerts">
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
          <%= message %>
        </div>
      <% end %>
    </section>
  </body>
</html>
